// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$primaryColor: #F2EFE7;
$secondaryColor: #FFDE08;
$black: #110E0F;